# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/
build/
*.exe
*.dll
*.lib
*.app
*.log

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / JetBrains
.idea/
*.iml

# OS
Thumbs.db
.DS_Store